@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*,
*::after,
*::before {
 box-sizing: border-box;
}

html{line-height:1.15;-webkit-text-size-adjust:100%}h1{font-size:2em;margin:0}hr{box-sizing:content-box;height:0;overflow:visible}a{background-color:transparent}b,strong{font-weight:bolder}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[hidden]{display:none}
/* --# HTML #-- */
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color:#2B2B2B;
    background-color: #fff;
}
html {
    scroll-behavior: smooth;
}
/* --# Navbar #-- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30px 16px 28px;
    z-index: 2;
}
.navbar .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.navbar .navbar-brand a {
    position: relative;
    font-size: 1.5rem;
    font-weight: 800;
    color: #3858d6;
    text-decoration: none;
}
.navbar .navbar-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 5px;
}
.navbar .navbar-item a {
    display: inline-block;
    font-weight: 600;
    color: #6d7b93;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 4px;
}
.navbar .navbar-item a.btn--blue {
    color: #fff;
}
.navbar .navbar-item:hover a {
    text-decoration: underline;
}
/* --# Seccion: Footer #-- */
footer.footer {
    background-color: #eef3ff;
}
.footer {
    position: relative;
    padding: 120px 16px 0 16px;
}
.footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 35px;
}
.footer .container > .column:first-child {
    width: 200px;
}
.footer .container > .column {
    width: calc(50% - 35px);
}
.footer .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 15px;
}
.footer .columns .column {
    width: calc(40% - 45px);
}
.footer p {
    font-size: .9rem;
}
.footer p.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #3858d6;
    margin: 0 0 12px;
}
.footer h6 {
    font-weight: 800;
    margin: 0 0 12px;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer ul li {
    
    list-style: none;
}
.footer ul li:not(:last-child) {
    margin-bottom: 8px;
}
.footer ul li a {
    font-size: .9rem;
    font-weight: 600;
    color: #6d7b93;
    text-decoration: none;
}
.footer ul li a:hover {
    text-decoration: underline;
}
.footer .container > .column:nth-child(3),
.footer .container > .column:nth-child(4) {
    margin-top: 80px;
}
.footer .container > .column:nth-child(4) ul {
    text-align: right;
}
.footer .container > .column:nth-child(4) li {
    display: inline-block;
}
.footer .container > .column:nth-child(4) li:first-child {
    margin-right: 3rem;
}
/* --# Seccion: Elementos #-- */
.title {
    font-size: 2rem;
    font-weight: 800;
    color: #1f3e72;
}
.subtitle {
    font-size: 1.15rem;
    font-weight: bold;
    color: #1f3e72;
}
p, li, label {
    font-weight: 600;
    color: #6d7b93;
    line-height: 2;
}
.text-marine {
    color: #1f3e72;
}
.btn {
    font-weight: 600;
    color: #6d7b93;
    text-decoration: none!important;
    padding: 14px 28px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}
.btn--blue {
    color: #fff;
    background: rgb(59,91,217);
    background: linear-gradient(135deg, rgba(59,91,217,1) 0%, rgba(36,68,194,1) 100%);
    -webkit-box-shadow: 0px 12px 38px -10px rgba(52,84,210,0.5); 
    box-shadow: 0px 12px 38px -10px rgba(52,84,210,0.5);
}
.bg-icon {
    display: inline-block;
    padding: 0px 9px;
    margin-right: .5rem;
    border-radius: 8px;
    border-bottom: 1px solid #fff;
}
.bg-blue {
    color: #2c4ccb;
    background-color: #eaf1fe;
}
.bg-yellow {
    color: #ffd013;
    background-color: #fff9e2;
}
.shadow-yellow {
    -webkit-box-shadow: -0.5px 12px 20px -6px #fbefbb;
    -moz-box-shadow: -0.5px 12px 20px -6px #fbefbb;
    box-shadow: -0.5px 12px 20px -6px #fbefbb;
}
.shadow-blue {
    -webkit-box-shadow: -0.5px 12px 20px -6px #bcc9ff;
    -moz-box-shadow: -0.5px 12px 20px -6px #bcc9ff;
    box-shadow: -0.5px 12px 20px -6px #bcc9ff;
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
/* --# Seccion: Header #-- */
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-image: url(../img/header-img.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45% auto;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    transform: translate(calc(5vw - 51%), 0px);
    border-style: solid;
    border-width: 132.5px 128px 132.5px 0;
    border-color: transparent #f4f6fb transparent transparent;
}
.header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 15px;
}
.header .column:not(:last-child) {
    width: calc(50% - 15px);
}
.header .column:last-child {
    position: absolute;
    bottom: 2rem;
    width: 65%;
}
.header .column {
    position: relative;
}
.header .column:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0 0 0 0;
    transform: translate(0, calc(-3vw -  50%));
    border-style: solid;
    border-width: 80px 80px 0 80px;
    border-color: #f4f6fb transparent transparent transparent;
}
.header img {
    display: none;
    width: 100%;
}
.header h1 {
    font-size: 3.15rem;
}
.header p {
    max-width: 370px;
    width: 100%;
    margin-bottom: 1.5rem;
}
.header ul {
    display: inline-flex;
    margin-bottom: 8rem;
    padding: 0;
}
.header ul li {
    list-style: none;
}
.header ul li:first-child {
    margin-right: 2rem;
}
.header .column:last-child p.subtitle {
    margin-top: 0;
    margin-bottom: 2rem;
}
.header form.schedule {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 32px 30px;
    border-radius: 8px;
    box-shadow: 0px 12px 38px -10px rgba(52,84,210,0.5);
}
.header form .form-row {
    display: flex;
    align-items: center;
    gap: 0 15px;
}
.header form .form-row .form-group {
    width: 25%;
}
.header form label {
    display: block;
    margin-bottom: 5px;
}
.header form label span {
    position: relative;
    bottom: 4px;
}
.header form label span i {
    font-size: .8rem;
}
.header form input:disabled {
    font-size: 1.15rem;
    font-weight: bold;
    color: #1f3e72;
    background-color: transparent;
    border: 0;
}
/* --# Seccion: Vaccunes #-- */
.vaccunes {
    padding: 50px 16px;
}
.vaccunes img {
    width: 100%;
}
.vaccunes img:nth-child(2) {
    display: none;
}
/* --# Seccion: Why #-- */
.why {
    position: relative;
    padding: 25px 16px 55px;
}
.why::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    margin: 0 0 0 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 110px 108px 110px 0;
    border-color: transparent #f4f6fb transparent transparent;
}
.why .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 20px;
}
.why .column:not(:first-child) {
    width: calc(25% - 20px);
}
.why .column:first-child {
    width: 100%;
}
.why .column:first-child p {
    max-width: 465px;
    width: 100%;
    margin-bottom: 1.5rem;
}
.why .item {
    background-color: #fff;
    border: 1px solid #f1f5ff;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
    -webkit-box-shadow: 0px 17px 35px -16px rgba(52,84,210,0.0); 
    box-shadow: 0px 17px 35px -16px rgba(52,84,210,0.0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.why .item:hover {
    -webkit-box-shadow: 0px 17px 35px -14px rgba(52,84,210,0.5); 
    box-shadow: 0px 17px 35px -14px rgba(52,84,210,0.5);
}
.why .item .bg-icon {
    padding: 10px 9px;
    margin: 0 0 1rem;
    -webkit-box-shadow: -0.5px 12px 20px -6px #fff;
    -moz-box-shadow: -0.5px 12px 20px -6px #fff;
    box-shadow: -0.5px 12px 20px -6px #fff;
}
.why .item .bg-icon i {
    font-size: 1.2rem;
}
.why .item:hover .bg-icon {
    -webkit-box-shadow: -0.5px 12px 20px -6px #bcc9ff;
    -moz-box-shadow: -0.5px 12px 20px -6px #bcc9ff;
    box-shadow: -0.5px 12px 20px -6px #bcc9ff;
}
.why .item .subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 12px;
}
.why .item p {
    font-size: .85rem;
}
/* --# Seccion: Preparations #-- */
.preparations {
    position: relative;
    padding: 120px 16px 0 16px;
}
.preparations .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0 35px;
}
.preparations .column {
    width: calc(50% - 35px);
}
.preparations .title {
    margin-top: 0;
}
.preparations ul {
    padding: 0;
    margin: 0;
}
.preparations li:not(:last-child) {
    margin-bottom: 1.5rem;
}
.preparations li {
    background-color: #fff;
    border: 1px solid #f1f5ff;
    border-radius: 8px;
    padding: 12px;
    height: 100%;
    -webkit-box-shadow: 0px 17px 35px -16px rgba(52,84,210,0.0); 
    box-shadow: 0px 17px 35px -16px rgba(52,84,210,0.0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    list-style: none;
}
.preparations li .btn {
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
}
.preparations .subtitle {
    font-size: .98rem;
    font-weight: 600;
}
.preparations .bg-icon {
    padding: 6px 9px;
}
.preparations .bg-icon.position {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0 auto 0;
    height: 1rem;
}
.preparations li:hover .bg-icon.position {
    transform: rotate(180deg);
}
.preparations li:hover .bg-icon.position i {
    filter: grayscale(1);
}
.preparations li p {
    font-size: .9rem;
    font-weight: 500;
    padding-left: 2rem;
}
.preparations li .content {
    height: 0;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.preparations li:hover .content {
    height: 5rem;
    overflow: visible;
}
.preparations li:hover {
    -webkit-box-shadow: 0px 17px 35px -14px rgba(52,84,210,0.35); 
    box-shadow: 0px 17px 35px -14px rgba(52,84,210,0.35);
}
.preparations .image {
    position: absolute;
    display: flex;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    width: 45%;
    height: 100%;
}
.preparations .image::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgb(6,156,231);
    background: linear-gradient(135deg, rgba(6,156,231,1) 0%, rgba(56,96,218,1) 100%);
}
.preparations .image img {
    position: relative;
    max-width: 605px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}
/* --# Seccion: Emergency #-- */
.emergency {
    position: relative;
    padding: 120px 16px 0 16px;
    margin-top: 65px;
    margin-bottom: 150px;
}
.emergency::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    margin: 0 0 0 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 110px 108px 110px 0;
    border-color: transparent #f4f6fb transparent transparent;
}
.emergency .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0 35px;
}
.emergency .column {
    width: calc(50% - 35px);
}
.emergency .title {
    margin-top: 0;
}
.emergency .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.emergency .grid .box {
    flex: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #f1f5ff;
    border-radius: 8px;
    padding: 12px 12px 28px;
    height: 100%;
    -webkit-box-shadow: 0px 17px 35px -16px rgba(52,84,210,0.0); 
    box-shadow: 0px 17px 35px -16px rgba(52,84,210,0.0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    box-sizing: border-box;
}
.emergency .grid .box:hover {
    -webkit-box-shadow: 0px 17px 35px -14px rgba(52,84,210,0.35); 
    box-shadow: 0px 17px 35px -14px rgba(52,84,210,0.35);
}
.emergency .grid .head {
    margin-bottom: 1.12rem;
}
.emergency .grid .subtitle {
    font-weight: 600;
    margin: 0 0 0px;
}
.emergency .grid p {
    margin: 0;
}
.emergency .head .bg-icon {
    padding: 8px 9px;
    float: left;
    margin-right: 1.5rem;
}
.emergency .head .bg-icon i {
    font-size: 1.5rem;
}
.emergency .grid small {

}
.emergency .grid .btn--link {
    display: block;
    color: #3151cf;
    text-align: center;
    background: #f1f5ff;
}
.emergency .box:hover .btn--link {
    color: #fff;
    background: rgb(59,91,217);
    background: linear-gradient(135deg, rgba(59,91,217,1) 0%, rgba(36,68,194,1) 100%);
    -webkit-box-shadow: 0px 12px 38px -10px rgba(52,84,210,0.5); 
    box-shadow: 0px 12px 38px -10px rgba(52,84,210,0.5);
}

.emergency .image {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-end;
    width: 45%;
    height: 100%;
}
.emergency .image::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: rgb(6,156,231);
    background: linear-gradient(135deg, rgba(6,156,231,1) 0%, rgba(56,96,218,1) 100%);
}
.emergency .image img {
    position: relative;
    max-width: 605px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}






/* --# Responsivo #-- */
@media (max-width:1441px) {
}
@media (max-width:1367px) {
}
@media (min-width:1024px) {
}
@media (max-width:1023px) {
    /* --# Seccion: Navbar #-- */
    .navbar {
        position: relative;
        width: 100%;
    }
    .navbar .navbar-items,
    .navbar .navbar-items .navbar-item:not(:last-child) {
        display: none;
    }
    /* --# Seccion: Footer #-- */
    footer.footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer .container {
        flex-direction: column;
    }
    .footer .container > .column:first-child {
        width: 100%;
        margin-bottom: 3rem;
    }
    .footer .container > .column {
        width: 100%;
    }
    .footer .container > .column:nth-child(3), .footer .container > .column:nth-child(4) {
        margin-top: 25px;
        text-align: center;
    }
    .footer .container > .column:nth-child(4) {
        margin-top: 0;
    }
    .footer .container > .column:nth-child(4) ul {
        text-align: center;
    }
    /* --# Seccion: Header #-- */
    .header {
        justify-content: flex-start;
        background-image: none;
        padding: 55px 16px 0;
    }
    .header .container {
        flex-direction: column;
    }
    .header .column:not(:last-child) {
        width: 100%;
    }
    .header .column:last-child {
        position: relative;
        width: 100%;
        margin-top: 2rem;
        bottom: 0;
    }
    .header form .form-row {
        flex-wrap: wrap;
        gap: 25px 0;
    }
    .header form .form-row .form-group {
        width: 50%;
    }
    .header form .form-row .form-group:nth-child(3) {
        width: 100%;
    }
    .header ul {
        margin-bottom: 2rem;
    }
    .header img {
        display: block;
    }
    .header .column:first-child::before {
        display: none;
    }
    .header::before {
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        margin: 150px 0 0 auto;
        width: 0;
        height: 0;
        transform: translate(0, 0);
        border-style: solid;
        border-width: 90px 70px 90px 0;
    }
    /* --# Seccion: Why #-- */
    .vaccunes img:nth-child(1) {
        display: none;
    }
    .vaccunes img:nth-child(2) {
        display: block;
    }
    /* --# Seccion: Why #-- */
    .why .container {
        flex-direction: column;
        gap: 25px 0;
    }
    .why .column:not(:first-child) {
        width: 100%;
    }
    /* --# Seccion: preparations #-- */
    .preparations {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 40px 16px 0 16px;
    }
    .preparations .image {
        position: relative;
        width: 100%;
    }
    .preparations .container {
        flex-direction: column;
    }
    .preparations .column {
        width: 100%;
    }
    .preparations li .btn {
        padding: 14px 0px;
    }
    .preparations li:hover .content {
        height: 8rem;
    }
    /* --# Seccion: Header #-- */
    .emergency {
        margin-bottom: 0;
    }
    .emergency .container {
        flex-direction: column;
    }
    .emergency .column {
        width: 100%;
    }
    .emergency .image {
        position: relative;
        width: 100%;
    }
}
@media (max-width:991px) {
}
@media (min-width: 769px) {
    
}
@media (max-width: 768px) {
}
@media (max-width: 575px) {
}
@media (max-width: 376px) {}